* {
    font-family: bahnschrift;
    color: #d6a2ec;
}

TitleBar { 
    background-color: #09050d; 
}

#titleBarButton { 
    border: none; 
} 

#titleBarButton:hover { 
    background-color: #20162a; 
} 

#titleBarButton:pressed { 
    background-color: #1a1222; 
}

#userInputTitle { 
    qproperty-alignment: AlignCenter; 
    border: none;
    font-weight: bold; 
    font-size: 30px; 
    background-color: #120917;
}

#textEntryTitle, #ECCTitle { 
    qproperty-alignment: AlignCenter; 
    font-size: 30px;
    margin: 30px 0 20px 0;
}

QTextEdit { 
    font: normal 16pt bahnschrift;
    padding: 10px 10px 10px 10px;
    border: 5px solid #09050d; 
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: rgb(45, 16, 58);
}

#ECCButton {
    padding: 16px 0 15px 0;
    border-top: 1px solid #3f2f4f;
    margin: 0 0 0 0;
}

#ECCButton[position="last"] {
    border-bottom: 1px solid #3f2f4f;
}

#ECCButton::text {
    text-align: center;
}

#ECCButton:hover {
    background-color: rgb(81, 44, 97);
}

#ECCButton:pressed {
    background-color: rgb(64, 28, 80);
}

#ECCButton:checked {
    background-color: rgb(55, 23, 68);
}

#limiter { 
    background-color: #3f2f4f;
    padding: 0 0 0 0;
}

QRWidget { 
    border: 10px solid #09050d;  
}

QRWidget[state="empty"] {
    background-color: gray; 
}

QRWidget[state="filled"] {
    background-color: white; 
}

#QRCodeText {
    qproperty-alignment: AlignCenter;
    font: italic thin bahnschrift;
}

#QRButton { 
    background-color: rgb(45, 16, 58);
    border-radius: 20px;
    font-size: 15px;
}

#QRButton:hover {
    background-color: rgb(81, 44, 97);
}

#QRButton:pressed {
    background-color: rgb(64, 28, 80);
}

#QRButton[style="small"] {
    border-radius: 25px;
}